@media screen and (min-width:768px) {
    .navbar,
    .navbar>.container,
    .navbar-brand-centered {
        height: 60px;
    }
    #results {
        margin-top: 45px;
    }
    #theme_btn {
        height: 30px !important;
        width: 30px !important;
    }
}

/***top***/

.navbar {
    border-radius: 0px;
}
.navbar-brand-centered {
    margin: 0;
    float: none;
}
.navbar>.container .navbar-brand-centered,
.navbar>.container-fluid .navbar-brand-centered {
    text-align: center;
}
.navbar-brand-centered a img {
    height: 100%;
}
#theme_btn {
    float: left;
    background-color: #42464A;
    height: 20px;
    width: 20px;
    padding: 0;
}

/***left***/

.nav-tabs {
    border: none;
    /*    margin: 0 0 20px 0;*/
}
.nav-tabs>li {
    width: 33.33333%;
}
.nav-tabs>li>a {
    border: 2px solid transparent !important;
    /*    border-bottom: 2px solid grey !important;*/
    border-radius: 0;
    margin-right: 0px;
    background-color: #CCCCCC;
    color: #000000;
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
}
.nav-tabs>li>a:hover {
    background: #E6E6E6;
    color: #5771B3 !important;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    background: #F5F5F5 !important;
    /*    border-bottom: 2px solid #6698B1 !important;*/
    color: #4B6199;
}
#editor {
    position: absolute;
    bottom: 16px;
    left: 16px;
    right: 16px;
    border: 1px solid #F5F5F5;
}
.codeBody {
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
.indentable {}
.codeTable {
    border-radius: 0;
    border: 1px solid #F5F5F5;
}
.codeTable thead tr th {
    background-color: #F5F5F5;
    border: none;
}
.codeTable tbody tr td {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 5px;
    background-color: #FFFFFF;
    border: none;
}
.codeTable tbody>tr.warning>td {
    background-color: #fff8e1 !important;
}
.codeTable tbody > tr > td:first-child {
    background-color: #e0e0e0;
    color: #424242;
}
.highlightProcName {
    background-color: #A20044;
    color: #F4ECE9;
}
.highlightVarName {
    background-color: #4527a0;
    color: #F4ECE9;
}
.highlightCost {
    background-color: #827717;
    color: #F4ECE9;
}
stmtNum {
    color: #546e7a;
}
procedure {
    color: #00695c;
}
procName {
    color: #A20044;
}
varName {
    color: #4527a0;
}
const {
    color: #827717;
}
call {
    color: #1565c0;
}
if {
    color: #1565c0;
}
then {
    color: #1565c0;
}
else {
    color: #1565c0;
}
while {
    color: #1565c0;
}
assignment {
    color: #000000;
}
bool {
    color: #dd2c00;
}
#cfg.list-group>.list-group-item {
    background-color: #F5F5F5;
    border-radius: 0px;
    border: none;
}
.mermaid {
    cursor: pointer;
}
#mermaidChart0 {
    display: block;
    float: none;
    margin: 0 auto;
}
.mermaid path {
    fill: #4D6199;
    stroke: #4D6199 !important;
}
.node circle {
    fill: none;
    stroke: #4D6199;
    stroke-width: 2px;
}
.node rect {
    fill: none;
    stroke: #A20044;
    stroke-width: 2px;
}
.mermaid .label {
    color: black;
    font-size: 18px;
}

/***right***/

.input-group {
    border-radius: 0px;
}
.input-group-addon,
.form-control.typeahead,
.dropdown-menu {
    border-radius: 0px;
}
.dropdown-menu>li>a {}
.btn.btn-default {
    /*    color: white;*/
    /*    background: #129889;*/
    border-radius: 0px;
}
.btn.btn-default:hover {
    /*    background: #15B09E;*/
}
.spacer {
    margin-top: 20px;
    /* define margin as you see fit */
}
.panel {
    /*    background: transparent;*/
    /*    color: #000000;*/
    border-radius: 0px;
    /*    border: none;*/
}
.panel-heading {
    /*    background: transparent;*/
    /*    color: #000000;*/
    border-radius: 0px;
    /*    border: 1px solid #666666;*/
}
.panel-default>.panel-heading {
    /*    background-color: #e0e0e0;*/
    /*    color: #000000;*/
    /*    border-color: #666666;*/
}
.panel>.table-bordered,
.panel>.table-bordered>tbody>tr>th,
.panel>.table-bordered>tbody>tr>td {
    /*    border: 1px solid #666666;*/
}
.table>tbody>tr>td.warning {
    background-color: #fff8e1;
}
#tuplesResult {
    margin: 2px 0;
}
#tuplesResult li {
    text-align: center;
    /*    border: 1px solid #6D6D6D;*/
}
.list-inline {
    margin-bottom: 0;
}
